* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgba(57,52,52,1) 23%, rgba(23,22,22,1) 80%);
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    text-align: center;
    margin: 0 auto;
}

p {
    margin-top: -80px;
    color: #F5F5F5;
    padding-bottom: 30px;
    font-size: 18px;
    text-shadow: 2px 2px 1px black;
}

.login {
    margin-right: 25px;
}

button {
    background-color:#D0D707;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px black;
    
    border: 3px solid black;
    border-radius: 10px;
    width: 100px;
    height: 40px;

    font-weight: bold;
    
    padding: 10px 8px;
    cursor: pointer;

    transition: 0.3s
}

button:hover {
    background-color:#A4FA2B;
}

.logoHome {
    margin-top: -100px;
}

@media (max-width: 768px) {
  .logoHome {
    width: 60vw;
    margin-bottom: 50px;
  }

  p {
    font-size: 16px;
  }
  
}