.mainAdmin {
    height: 100vh;
}

.headerAdmin {
    background-color: black;
    height: 80px;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
  
    position: absolute;
    top: 0;

    .conteudoAdmin {
        color: #F5F5F5;
    }
}

.formAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .ContainerAdmin {
        background-color: #667F85;
        width: 850px;
        margin: 250px auto -20px;
        padding: 50px;
        border: 2px solid black;
        border-radius: 15px;

        h1 {
            font-size: 35px;
            text-align: center;
        }

        .ContentTableAdmin {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
                       
            .tableAdmin {
                color: #F5F5F5;
                text-shadow: 2px 2px 1px black;
                font-size: 18px;

                tr {

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    th::after {
                        content: "|";
                        padding-left: 10px;
                    }
                    
                }

                tbody {

                    tr {
                        margin-top: 20px;                        

                        td::after {
                            content: "|";
                            padding-left: 10px;
                        }

                        td:last-child::after {
                            content: ""; /* Remove o | da última célula */
                        }
                        
                    }
                    
                }
                
            }
            
        }
        
    }
    
}

@media(max-width: 880px) {

    .formAdmin {
        
        .ContainerAdmin {
            
            width: 730px;

            h1 {
                font-size: 30px;
            }

        }

    }

}

@media (max-width: 768px) {
    .headerAdmin {
        
        h2 {
            font-size: 20px;
        }

        .buttonAdmin {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        
    }

    .formAdmin {

        .ContainerAdmin {
            
            width: 620px;
            
            h1 {
                font-size: 30px;
            }

            .ContentTableAdmin {

                .tableAdmin {

                    thead {

                        tr {

                            th {
                                font-size: 15px;
                            }
                            
                        }
                        
                    }
                    
                    tbody {
                        
                        tr {
                            margin-top: 20px;
                            
                            td {
                                
                                font-size: 14px;

                                .iconDelete {
                                    width: 16px;
                                }
                                
                            }
                            
                        }

                        
                    } 
                    
                }
                
            }
            
        }
    }
}

@media (max-width: 650px) {

    .contentHomePage {
        width: 550px;
    }
    
    .formAdmin {
        
        .ContainerAdmin {
            
            width: 550px;

            h1 {
                font-size: 25px;
            }

            .ContentTableAdmin {

                .tableAdmin {

                    thead {

                        tr {

                            th {
                                font-size: 13px;
                            }
                            
                        }
                        
                    }
                    
                    tbody {
                        
                        tr {
                            
                            td {
                                font-size: 12px;
                            }
                            
                        }
                        
                    } 
                    
                }
                
            }
            
        }
        
    }
    
}

@media (max-width: 590px) {

    .headerHomePage{
        
        h1 {
            font-size: 16px;
        }

    }
    
    .contentHomePage {
        width: 450px;
        
        h1 {
            font-size: 25px;
        }

    }
    
    .formAdmin {
        
        .ContainerAdmin {
            
            width: 450px;

            h1 {
                font-size: 22px;
            }

            .ContentTableAdmin {

                .tableAdmin {

                    thead {

                        tr {

                            th {
                                font-size: 15px;
                            }
                            
                        }
                        
                    }
                    
                    tbody {

                        display: flex;
                        justify-content: center;
                        align-items: enter;
                        margin: 0 auto;
                        
                        tr {
                            margin-top: 20px;
                            
                            td {
                                font-size: 13px;

                                .iconDelete {
                                    width: 14px;
                                }
                                
                            }
                            
                        }
                        
                    } 
                    
                }
                
            }
            
        }
        
    }
    
}

@media (max-width: 500px) {
    
    .headerHomePage{

        width: 100%;
        
        .conteudoHomePage {
            font-size: 9px;
        }

        .buttonHomePage {
            width: 50px;
            margin-left: 15px;
        }

    }
    
    .contentHomePage {
        width: 300px;
        
        h1 {
            font-size: 20px;
        }

    }
    
    .formAdmin {
        
        .ContainerAdmin {
            
            width: 300px;

            h1 {
                font-size: 18px;
            }

            .ContentTableAdmin {

                .tableAdmin {

                    thead {

                        tr {

                            th {
                                font-size: 10px;
                            }
                            
                        }
                        
                    }
                    
                    tbody {

                        display: flex;
                        justify-content: center;
                        align-items: enter;
                        margin: 0 auto;
                        
                        tr {
                            margin-top: 20px;
                            
                            td {
                                font-size: 9px;                                
                            }
                            
                        }
                        
                    } 
                    
                }
                
            }
            
        }
        
    }

    
}