.mainHomePage {
    height: calc(100vh - 80px);
}

.headerHomePage {
  background-color: black;
  height: 80px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;

  position: absolute;
  top: 0;  

  h1 {
    font-size: 25px;
  }
  
}

.productsHomePage {
    background-color: transparent;
    font-size: 15px;
    transition: 1s
}

.productsHomePage:hover {
    background-color: transparent;
    color: #A5A1A1;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.conteudoHomePage {
    color: #F5F5F5;
}

.formHomePage {
    background: radial-gradient(circle, rgba(57,52,52,1) 23%, rgba(23,22,22,1) 80%);    
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentHomePage {

    background-color: #667F85;
    width: 700px;
    margin-top: 100px;
    padding: 50px;
    border: 2px solid black;
    border-radius: 15px;
    
    h1 {
        text-align: center;
    }
    
}

.cadastrarHomePage {
    display: flex;
    
    h3 {
        color: #F5F5F5;
        text-shadow: 2px 2px 1px black;
        font-size: 20px;
    }
}

.selectorHomePage {
    width: 100%;
    height: 38px;

    outline: 0;

    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.sign-up {
    div:nth-of-type(2) {
        margin-top: 15px;
    }
}

.field-wrap {
    
    .input-container {
        background-color: white;
        display: flex;
        align-items: center;
        
        width: 100%;
        
        border: 1px solid black;
        border-radius: 5px;
        
        input {
            flex: 1;
            border: none;
            outline: none;
            font-size: 15px;
            text-align: start;
            padding: 10px;
        }  

        input[type="time"]::-webkit-calendar-picker-indicator {
            cursor: pointer;
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
            cursor: pointer;
        }

    }

    h3:nth-of-type(2) {
        margin-top: 15px;
    }

}

.buttonFormHomePage {
    width: 250px;
    margin: 0 auto;
}

.iconDelete {
    width: 20px;
    vertical-align: middle;
}

.formHomePage_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .ContainerHomePage {
        background-color: #667F85;
        width: 850px;
        margin: 50px auto;
        padding: 50px;
        border: 2px solid black;
        border-radius: 15px;

        h1 {
            font-size: 35px;
            text-align: center;
        }

        .ContentTable {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
                       
            .table {
                color: #F5F5F5;
                text-shadow: 2px 2px 1px black;
                font-size: 18px;

                tr {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    th::after {
                        content: "|";
                        padding-left: 10px;
                    }
                    
                }

                tbody {

                    tr {
                        margin-top: 20px;                        

                        td::after {
                            content: "|";
                            padding-left: 10px;
                        }

                        td:last-child::after {
                            content: ""; /* Remove o | da última célula */
                        }
                        
                    }
                    
                }
                
            }
            
        }
        
    }
    
}

@media(max-width: 880px) {

    .formHomePage_2 {
        
        .ContainerHomePage {
            
            width: 730px;

            h1 {
                font-size: 25px;
            }

        }

    }

}

@media (max-width: 768px) {
    .headerHomePage {
        
        h1 {
            font-size: 20px;
        }

        .productsHomePage {
            font-size: 15px;
        }

        .buttonHomePage {
            height: 30px;

            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        
    }

    .contentHomePage {

        width: 620px;

        .cadastrarHomePage {
            
            h3 {
                font-size: 16px;
            }

            .buttonFormHomePage {
                width: 180px;
            }
            
        }
        
    }

    .formHomePage_2 {

        .ContainerHomePage {
            
            width: 620px;
            
            h1 {
                font-size: 30px;
            }

            .ContentTable {

                .table {

                    thead {

                        tr {

                            th {
                                font-size: 15px;
                            }
                            
                        }
                        
                    }
                    
                    tbody {
                        
                        tr {
                            margin-top: 20px;
                            
                            td {
                                
                                font-size: 14px;

                                .iconDelete {
                                    width: 16px;
                                }
                                
                            }
                            
                        }

                        
                    } 
                    
                }
                
            }
            
        }
    }
}

@media (max-width: 650px) {

    .contentHomePage {
        width: 550px;
    }
    
    .formHomePage_2 {
        
        .ContainerHomePage {
            
            width: 550px;

            h1 {
                font-size: 25px;
            }

            .ContentTable {

                .table {

                    thead {

                        tr {

                            th {
                                font-size: 13px;
                            }
                            
                        }
                        
                    }
                    
                    tbody {
                        
                        tr {
                            
                            td {
                                font-size: 12px;
                            }
                            
                        }
                        
                    } 
                    
                }
                
            }
            
        }
        
    }
    
}

@media (max-width: 590px) {

    .headerHomePage{
        
        h1 {
            font-size: 16px;
        }

    }
    
    .contentHomePage {
        width: 450px;
        
        h1 {
            font-size: 25px;
        }

    }
    
    .formHomePage_2 {
        
        .ContainerHomePage {
            
            width: 450px;

            h1 {
                font-size: 22px;
            }

            .ContentTable {

                .table {

                    thead {

                        tr {

                            th {
                                font-size: 9px;
                            }
                            
                        }
                        
                    }
                    
                    tbody {

                        display: flex;
                        justify-content: center;
                        align-items: enter;
                        margin: 0 auto;
                        
                        tr {
                            margin-top: 20px;
                            
                            td {
                                font-size: 9px;

                                .iconDelete {
                                    width: 12px;
                                }
                                
                            }
                            
                        }
                        
                    } 
                    
                }
                
            }
            
        }
        
    }
    
}

@media (max-width: 500px) {
    
    .headerHomePage{

        width: 100%;
        
        .conteudoHomePage {
            font-size: 9px;
        }
        
        .productsHomePage {
            font-size: 12px;
        }

        .buttonHomePage {
            width: 50px;
            margin-left: 15px;
        }

    }
    
    .contentHomePage {
        width: 300px;
        
        h1 {
            font-size: 20px;
        }

    }
    
    .formHomePage_2 {
        
        .ContainerHomePage {
            
            width: 300px;

            h1 {
                font-size: 18px;
            }

            .ContentTable {

                .table {

                    thead {

                        tr {

                            th {
                                font-size: 10px;
                            }
                            
                        }
                        
                    }
                    
                    tbody {

                        display: flex;
                        justify-content: center;
                        align-items: enter;
                        margin: 0 auto;
                        
                        tr {
                            margin-top: 20px;
                            
                            td {
                                font-size: 9px;                                
                            }
                            
                        }
                        
                    } 
                    
                }
                
            }
            
        }
        
    }

    
}